.tasksBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.todolists p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterBTN {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.filterBTN button {
    width: 95px;
}
