.navbar {
    grid-area: nav;
    background-color: #151515;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
}

.item, activeLink {
    padding: 14px;
    display: block;
    border-bottom: 1px solid #4c4c4c;
    transition: 150ms all;
    text-decoration: none;
    color: white;
}

.item:hover {
    color: black;
    background-color: #d8cd01;
    transition: 150ms all;
    cursor: pointer;
    padding: 14px 0 14px 24px;
}





