.posts {
    width: 700px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #4c4c4c;
    border-radius: 15px 15px 15px 0;
    background-color: rgb(229, 227, 227);
}

.post img {
    width: 65px;
    height: 65px;
    border-radius: 65%;
}

.like img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
