.appWrapper {
    display: flex;
    font-size: 22px;
    padding: 30px;
    font-family: "Source Sans Pro", sans-serif;
}

.error {
    border: #cd0606 1px solid;
}

.error-message {
    color: #cd0606;
    font-size: 12px;
}

.active-filter {
    background-color: coral;
}