.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todolistItem:hover {
    transform: translateY(-5px);
    transition: 150ms ease-in-out;
}

.appWrapper {
    font-size: 22px;
    font-family: "Source Sans Pro", cursive, sans-serif;
}