.appWrapper {
    display: flex;
    font-size: 22px;
}

.error {
    border: #cd0606 1px solid;
}

.error-message {
    color: #cd0606;
    font-size: 12px;
}

.active-filter {
    background-color: coral;
}

.is-Done {
    opacity: 50%;
}